@mixin width_height($width,$height) {
  width: $width;
  height: $height;
}

@mixin flexbox($justify,$align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin position($position,$top,$left,$right,$margin) {
  position: $position;
  left: $left;
  right: $right;
  top: $top;
  margin: $margin;
}