.service {
  @include width_height(100%, 40vh);
  @include flexbox(center, center);
  background-color: #4bcaff;
  .container {
    @include width_height(90%, 30vh);
    .row {
      @include width_height(20%, 7vh);
      position: relative;
      h2 {
        font-size: 30px;
        font-family: "Segoe UI", sans-serif;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
      }
      hr {
        width: 16%;
        border: 1px solid $colorwhite;
        @include position(absolute, "", 0, "", "");
        bottom: 0;
      }
    }
    .row-container {
      @include width_height(100%, 18vh);
      margin-top: 20px;
      .service-elements {
        @include width_height(100%, 18vh);
        @include flexbox(space-between, center);
        img {
          margin-top: 15px;
        }
        h3 {
          margin-top: 15px;
          font-family: "Segoe UI", sans-serif;
          font-size: 24px;
          color: $colorwhite;
          text-transform: uppercase;
          text-align: left;
        }
        p {
          margin-top: 15px;
          font-family: "Segoe UI", sans-serif;
          color: $colorwhite;
          font-size: 12px;
          line-height: 1.5;
          width: 259px;
          height: 67px;
        }
      }
    }
  }
}