.twitter {
  @include width_height(100%, 30vh);
  @include flexbox(center, center);
  background-color: #4bcaff;
  .container {
    @include width_height(90%, 25vh);
    @include flexbox(center, center);
    flex-direction: row;
    .row {
      @include width_height(100%, 25vh);
      position: relative;
      h2 {
        position: absolute;
        top: 10%;
        font-size: 30px;
        font-family: "Segoe UI", sans-serif;
        color: $colorwhite;
        text-transform: uppercase;
        line-height: 0.8;
        text-align: left;
      }
      img {
        @include position(absolute, 10%, "", 0, "");
      }
      hr {
        width: 3%;
        border: 1px solid $colorwhite;
        @include position(absolute, 30%, "", "", "");
      }
      p {
        font-size: 28px;
        font-family: "Segoe UI", sans-serif;
        color: $colorwhite;
        line-height: 1.786;
        position: absolute;
        bottom: 0;
      }
    }
  }
}