* {
  font-family: "Segoe UI", sans-serif;
}
@media (min-device-width: 320px) and (max-device-width: 480px) {
  .active {
    color: #4bcaff;
    border: 2px solid #4bcaff;
  }
}
@media (max-device-width: 800px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .active {
    color: #4bcaff;
    border: 2px solid #4bcaff;
  }
}
