@import "../settings/mixin.scss";
@import "../settings/value.scss";
@media  
(min-device-width: 320px)
and
(max-device-width: 480px)
 {
.contact {
  overflow: hidden;
  .container {
    @include width_height(90%, 90vh);
    @include flexbox(space-between, center);
    flex-direction: row;
    .row {
      @include width_height(100%, 65vh);
      @include flexbox(space-between, flex-start);
      flex-direction: column;
      position: relative;
      h2 {
        font-size: 30px;
        font-family: "Segoe UI", sans-serif;
        color: $colorwhite;
        text-transform: uppercase;
        line-height: 0.8;
        text-align: left;
      }
      > hr {
        width: 20%;
        border: 2px solid $colorwhite;
        position: absolute;
        top: 10%;
      }

      .alert {
        width: 50%;
        padding: 0.6rem;
        border-radius: 0.4rem;
        font-family: "Segoe UI", sans-serif;
      }
      .alert-success {
        position: absolute;
        margin: 0 auto;
        @include flexbox(center, center);
        @include width_height(85%, 100%);
        padding: 1.3rem;
        background-color: rgba(7, 70, 7, 0.65);
        top: 20%;
        color: $colorwhite;
        font-size: 2.5rem;
        font-weight: bold;
      }
      #formality {
        @include width_height(100%, 55vh);
        @include flexbox(space-between, flex-start);
        flex-direction: column;
        position: relative;

        .alert-amprove {
          background-color: rgba(7, 70, 7, 0.65);
        }
        .alert-danger {
          background-color: rgba(189, 54, 54, 0.6);
        }
        label {
          font-size: 16px;
          font-family: "Segoe UI", sans-serif;
          color: $colorwhite;
          font-weight: bold;
          text-transform: uppercase;
          margin-top: 10px;
          display: block;
        }
        input {
          @include width_height(466px, 56px);
          border-width: 2px;
          border-color: rgb(255, 255, 255);
          border-style: solid;
          background-color: inherit;
          color: $colorwhite;
          border-radius: 5px;
          outline: none;
          margin-top: 10px;
          padding: 10px;
        }
        .message {
                    border-width: 2px;
          border-color: rgb(255, 255, 255);
          border-style: solid;
          background-color: inherit;
          color: $colorwhite;
          border-radius: 5px;
          outline: none;
          margin-top: 10px;
          padding: 10px;
          margin-top: 10px;
          @include width_height(466px,60px);
          @include flexbox(center, center);
        }
        textarea {
          @include width_height(466px, auto);
          border-width: 2px;
          border-color: rgb(255, 255, 255);
          border-style: solid;
          background-color: inherit;
          color: $colorwhite;
          border-radius: 5px;
          padding: 10px;
          outline: none;
          resize: none;
          margin-top: 10px;
        }
      }
    }
    .row-text {
      @include width_height(50%, 30vh);
      p {
        font-size: 14px;
        font-family: "Segoe UI", sans-serif;
        color: $colorwhite;
        line-height: 1.714;
        width: 531px;
        height: 63px;
      }
    }
  }
}
 }