@import "../settings/mixin.scss";
@import "../settings/value.scss";
@media (min-device-width: 320px) and (max-device-width: 480px) {
  .footer {
    @include width_height(100%, auto);
    @include flexbox(center, center);
    .container {
      @include width_height(90%, 30vh);
      @include flexbox(center, center);
      flex-direction: column;
      .row {
        @include width_height(100%, 10vh);
        .footer_elemnts {
          @include flexbox(flex-start, flex-start);
          > a {
            font-size: 16px;
            padding-left: 10px;
            padding-right: 10px;
          }
        }
        .footer_Date {
          font-size: 16px;
          @include flexbox(center, center);
        }
      }
    }
  }
}
@media (min-device-width: 480px) and (max-device-width: 800px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .footer {
    @include width_height(100%, auto);
    @include flexbox(center, center);
    .container {
      @include width_height(95%, 15vh);
      @include flexbox(center, center);
      flex-direction: column;
      .row {
        @include width_height(100%, 5vh);
        .footer_elemnts {
          @include flexbox(center, center);
          > a {
            font-size: 24px;
            padding-left: 30px;
            padding-right: 30px;
          }
        }
        .footer_Date {
          font-size: 24px;
          @include flexbox(center, center);
        }
      }
    }
  }
}