@import "../settings/mixin.scss";
@import "../settings/value.scss";
@media  
(min-device-width: 320px)
and
(max-device-width: 480px)
 {
.whoIs {
  @include width_height(100%, 50vh);
  @include flexbox(center, center);
  background: url("../img/photo.png") center/contain no-repeat;
  background-attachment: fixed;
  .container {
    @include width_height(90%, 45vh);
    @include flexbox(center, center);
    flex-direction: row;
    .row {
      @include width_height(50%, 45vh);
      position: relative;
      @include flexbox(center, flex-start);
      flex-direction: column;
      > h2 {
        font-size: 30px;
        font-family: "Segoe UI", sans-serif;
        color: $colorwhite;
        text-transform: uppercase;
        position: absolute;
        top: 6%;
        text-align: left;
      }
      > hr {
        width: 10%;
        border: 1px solid $colorwhite;
        @include position(absolute, 18%, "", "", "");
        background-color: rgb(255, 255, 255);
      }
      > p {
        font-size: 14px;
        font-family: "Segoe UI", sans-serif;
        color: $colorwhite;
        line-height: 1.714;
        text-align: left;
      }
      > .image-elements {
        @include width_height(40%, auto);
        @include position(absolute, "", "", "", "");
        bottom: 20%;
        @include flexbox(space-between, center);
        .icon {
          @include width_height(50px, 50px);
          border: 1px solid $colorwhite;
          @include flexbox(center, center);
          opacity: 0.7;
        }
      }
    }
  }
}
 }