
@import "../settings/mixin.scss";
@import "../settings/value.scss";
@media  
(min-device-width: 320px)
and
(max-device-width: 480px)
 {
.testimonials {
  @include width_height(100%, auto);
  .container {
    @include width_height(90%, auto);
    flex-direction: column;
    .row {
      @include width_height(100%, 50vh);
          margin:10px 0 10px 0;

      > h2 {
        line-height: 1.3;
        font-size: 26px;
      }
      > hr {
        @include position(absolute, 13%, 0, "", "");
      }
      > p {
        @include position(absolute, 18%, 0, "", "");
        font-size: 16px;
      }  
    }
  }
}
 }