@import "../settings/mixin.scss";
@import "../settings/value.scss";
@media (min-device-width: 320px) and (max-device-width: 480px) {
  .twitter {
    @include width_height(100%, auto);
    .container {
      @include width_height(100%, auto);
      @include flexbox(center, center);
      flex-direction: column;
      .row {
        @include width_height(100%, 47vh);
        h2 {
          top: 5%;
          left: 10px;
          font-size: 20px;
        }
        img {
          @include position(absolute, 5%, "", 10px, "");
        }
        hr {
          width: 20%;
          @include position(absolute, 15%, "", "", 10px);
        }
        p {
          font-size: 18px;
          line-height: 2rem;
          bottom: 30px;
        }
      }
    }
  }
}
