@import "../settings/mixin.scss";
@import "../settings/value.scss";
@media  
(min-device-width: 320px)
and
(max-device-width: 480px)
 {
.video_conference {
  @include width_height(100%, auto);
  .container {
    @include width_height(90%, auto);
    flex-direction: column;
    .row {
      @include width_height(100%, 55vh);
      .Text_video {
        font-size: 15px;
        line-height: 1.4;
        text-align: left;
      }
     hr{
       top: 27px;
     }
      p {
        @include width_height(100%, 159px);
        font-size: 10px;
        margin-top: 30px;
      }
    }
    .video_element {
      video {
        @include width_height(100%, auto);
      }

    }
  }
}
 }